# Version control
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
build

# Editor directories
.idea
.vscode

# Include necessary files
!package.json
!package-lock.json
!src/**
!public/**
!index.html
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!tailwind.config.ts
!postcss.config.js
!nginx.conf